<div class="page-container">


  <div class="adoption-card">
    <div class="card-header">
      <img src="/logoapets3.png" alt="Ícone" class="icon" />
      <span>Você &gt; <strong>Minhas adoções</strong></span>
    </div>

    <div class="card-content">
      <div class="pet-image-wrapper">
        <img src="/adoção.png" alt="Doguinho" class="pet-image" />
        <p class="pet-name">Muffin</p>
        <p class="status-label">Em Andamento</p>
      </div>
    </div>

    <!-- TODO: Colocar link de diretório -->
    <a href=""><button class="btn-blue full">Visualizar</button></a>
  </div>


  <div class="adoption-card">
    <div class="card-header">
      <img src="/logoapets3.png" alt="Ícone" class="icon" />
      <span>ONG &gt;<a class="active" href="#">Gatos </a></span>
      <span class="location-time">3h - Manaus, Amazonas</span>
    </div>

    <div class="card-content vertical">
      <p>A Penelope aqui já está pronta para ser adotada. Vem dar uma olhada nessa figura!</p>
      <img src="/Penelope.jpg" alt="Penelope" class="pet-image-large" />
    </div>

    <!-- TODO: Colocar link de diretório -->
    <a href=""><button class="btn-blue full">Ir para o Animal</button></a>
  </div>
</div>