<div class="page-container">
  <div class="adoption-card">
    <img src="/adoção.png" alt="Doguinho" class="pet-image" />

    <div class="pet-details">
      <h3 class="pet-name">Muffin</h3>
      <p class="pet-info">Macho, 24 semanas</p>
      <p class="status">
        Status: <span class="status-span">em andamento</span>
      </p>
      <p class="pet-org">
        Processo iniciado há 2 semanas - ONG ong - Manaus, Compensa
      </p>

      <div class="pet-buttons">
        <button class="btn-blue">Visualizar adoção</button>
        <button class="btn-yellow">Contatar a instituição</button>
      </div>
    </div>
  </div>


</div>