.page-container {
  width: calc(100% - 19.5625rem); // mesma largura da sidebar
  margin-left: 19.5625rem;
  background: #f1f1f1;
  min-height: 100vh;
  box-sizing: border-box;
  transition: all 0.5s ease;
  padding: 2rem;
  display: flex;
 flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-bottom: 70px;
}

.adocao-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  box-sizing: border-box;
  
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
  color:#415DA7;
  font-weight: 500;
   font-size: 16px;
}


.btn-classificar {
  background-color: #415DA7;
  color: white;
  padding: 8px;
  width: 100px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.card-segundo {
  font-size: 16px;
  color: #415DA7;
  font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pet-list {
display: flex;
  flex-wrap: wrap; /* quebra em linhas se não couber */
  gap: 30px;
  align-items: center;
  justify-content: start;
  
}

.pet-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0 0;
  cursor: pointer;
}

.pet-card img {
  width: 150px;
  height: 180px;
  border-radius: 8px;
}

.pet-nome {
    color: #415DA7;
  margin-top: 6px;
  font-size: 18px;
}

.pet-info {
  color: #FFD27D;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  margin-top: 0px;
}

.arrow {
  font-size: 24px;
  align-self: center;
}

.btn-vermais {
  margin-top: 12px;
  background-color: #415DA7;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  
}

.seta-azul {
  font-size: 25px;
  color: #415DA7;
  


}

.spacer {
  flex: 1 1 auto;
}