<div class="page-container">


    <div class="adoption-card">
    <div class="card-header">
      <img src="/logoapets3.png" alt="Ícone" class="icon" />
      <span>Você &gt; <strong>Minhas adoções</strong></span>
    </div>

    <div class="card-content">
      <div class="pet-image-wrapper">
        <img src="/adoção.png" alt="Doguinho" class="pet-image" />
        <p class="pet-name">Doguinho</p>
        <p class="status-label andamento">Em Andamento</p>
      </div>
    </div>

    <button class="btn-blue full">Visualizar</button>
  </div>


  <div class="adoption-card">
    <div class="card-header">
      <img src="/logoapets3.png" alt="Ícone" class="icon" />
      <span>ONG &gt; <strong>Gatos</strong></span>
      <span class="location-time">3h - Manaus, Amazonas</span>
    </div>

    <div class="card-content vertical">
      <p>A Penelope aqui já está pronta para ser adotada. Vem dar uma olhada nessa figura!</p>
      <img src="/Penelope.jpg" alt="Penelope" class="pet-image-large" />
    </div>

    <button class="btn-blue full">Ir para Animal</button>
  </div>
</div>
