<div class="page-container">
  <div class="adoption-card">
  <img src="/adoção.png" alt="Doguinho" class="pet-image" />

  <div class="pet-details">
    <h3 class="pet-name">Auau</h3>
    <p class="pet-info">Macho, 2 anos</p>
    <p class="pet-status">
      <span class="status">Status - em andamento</span>
    </p>
    <p class="pet-org">
        processo iniciado há 2 semanas -
    ONG ong - Manaus, Compensa
    </p>

    <div class="pet-buttons">
      <button class="btn-blue">Visualizar adoção</button>
      <button class="btn-yellow">Contatar a instituição</button>
    </div>
  </div>
</div>


</div>
