<mat-toolbar class="header-container">

 <div class="search-wrapper">
    <input type="text" placeholder="Pesquise por adoções..." class="search-bar">
    <button class="btn-lupa" aria-label="Buscar">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="spacer"></div>
  <div class="icons">
    <i class="fa fa-bell"></i>
    <i class="fa fa-comment"></i>
  </div>
     <div class="user-box">
  <img src="/logoapets3.png" alt="Usuário" class="logo-imagem">
  <span class="user-name">Usuário</span>
</div>
</mat-toolbar>