<div class="page-container">
 <div class="settings-options">
      <div class="option">
  <i class="fa fa-thumbs-up"></i>
  <div class="textos">
    <h3>Preferências</h3>
    <p>Notificações, mídia, modo escuro</p>
  </div>
  <span class="seta-azul">&gt;</span>
</div>

<div class="option">
  <i class="fa fa-user"></i>
  <div class="textos">
    <h3>Visibilidade</h3>
    <p>Detalhes do perfil, restrições, etc.</p>
  </div>
  <span class="seta-azul">&gt;</span>
</div>

<div class="option">
  <i class="fa fa-file-alt"></i>
  <div class="textos">
    <h3>Políticas legais</h3>
    <p>Termos, privacidade, cookies</p>
  </div>
  <span class="seta-azul">&gt;</span>
</div>
</div>
</div>